
html, body{
  background-color: #EAEDED;
}
*{margin: 0}

button{
  background-color: #FFD814;
  cursor: pointer;
  box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  border: none;
  padding: 6px 20px;
  border-radius: 10px;
}

button:hover{
  background-color: #ebc60f;
}

